<!-- templates/customer/dashboard.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Customer Dashboard - EZ Ordering</title>
</head>

<body>

    <h2>Welcome, {{ user.username }}!</h2>

    <ul>
        <li>Height: {{ profile.height_cm }} cm</li>
        <li>Weight: {{ profile.weight_kg }} kg</li>
        <li>Age: {{ profile.age }} </li>
        <li>Activity Level: {{ profile.get_activity_level_display }}</li>
        <li>Gender: {{ profile.gender}}</li>
    </ul>

    <h3>Your Preferences:</h3>
    {% for category, tag_list in categorized_tags.items %}
    <h4>{{ category|title }}</h4>
    <ul>
        {% for tag in tag_list %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

    <a href="{% url 'customer_profile_edit' %}">
        <button>Edit</button>
    </a>
</body>

</html>