<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Merchant Dashboard</title>
</head>

<body>
    <h1>Welcome, {{ user.username }}!</h1>
    <p>You are now logged in.</p>

    {% for restaurant in restaurants %}
    <form action="{% url 'restaurant_dashboard' restaurant.id %}" method="get" style="margin-bottom: 10px;">
        <button type="submit" style="padding: 10px 20px; font-size: 18px;">
            {{ restaurant.name }}
        </button>
    </form>
    {% empty %}
    <p>You don't have any restaurants</p>
    {% endfor %}

    <form method="post" action="{% url 'merchant_logout' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
</body>

</html>